<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saxion.nl.projectpersistant" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoomOverviewActivity" />
        <activity android:name=".ReservationOverviewActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ReservationActivity" />
        <activity
            android:name=".PerdurableActivity"
            android:configChanges="orientation|keyboardHidden"
            android:resizeableActivity="true"
            android:screenOrientation="landscape" />
        <activity android:name=".TimelineActivity" />
        <activity android:name=".OverViewActivity" />
        <activity android:name=".AdministratorActivity" />
        <activity android:name=".UserControlActivity" />
        <activity android:name=".RoomControlActivity" >
        </activity>
    </application>

</manifest>